{% load static %}
<!DOCTYPE html>


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Manegement</title>
  <link rel="stylesheet" href="{% static 'css/base.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<header>
  <div id="navbar_navbar_inverse">
 {%include "components/navbar.html"%}
  </div>
  </header>
  

 
  <div id='register_form' style="display: none;">
    {% include 'register.html' %}
    </div>
   
  <div class="row">
    <div class="col-sm-1">
      <div class="icon-bar">
        <a class="active" href="#"><i class="fa fa-home"></i></a> 
        <a href="#"><i class="fa fa-search"></i></a> 
        <a href="#"><i class="fa fa-envelope"></i></a> 
        <a href="#"><i class="fa fa-globe"></i></a>
        <a href="#"><i class="fa fa-trash"></i></a> 
      </div>
    </div>
  <div class="col-sm-11">
  <div class="container index_content">
    
   
    <div class="row">
     
    <div class="jumbotron">
      <div class="text-center">    
          <h1>I am John Doe</h1>
          <p>And I'm a Photographer
          </p>

        <div class="row">

       
        <div class="col-sm-4">
          <div class="Mydropdown">
          <div class="selector" id = "selectField">
           
              <img src="{%static 'img/person-raised-hand.svg'%}">
              <div>
                Dropdown
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-square" viewBox="0 0 16 16">
                <path d="M3.626 6.832A.5.5 0 0 1 4 6h8a.5.5 0 0 1 .374.832l-4 4.5a.5.5 0 0 1-.748 0l-4-4.5z"/>
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
              </svg>
            </div>
           
            <ul class="dropdown-content hide" id="dropdown-content_1">
              <li class="dropdown-cont-item"><a href="#">HTML</a></li>
              <li class="dropdown-cont-item"><a href="#">CSS</a></li>
              <li class="dropdown-cont-item"><a href="#">JavaScript</a></li>
              <li class="dropdown-cont-item"><a href="#">HTML</a></li>
              <li class="dropdown-cont-item"><a href="#">CSS</a></li>
              <li class="dropdown-cont-item"><a href="#">JavaScript</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="Mydropdown">
            <div class="selector" id = "selectField">
             
                <img src="{%static 'img/person-raised-hand.svg'%}">
                <div>
                  Dropdown
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-square" viewBox="0 0 16 16">
                  <path d="M3.626 6.832A.5.5 0 0 1 4 6h8a.5.5 0 0 1 .374.832l-4 4.5a.5.5 0 0 1-.748 0l-4-4.5z"/>
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                </svg>
              </div>
             
              <ul class="dropdown-content hide" id="dropdown-content_2">
                <li class="dropdown-cont-item"><a href="#">HTML</a></li>
                <li class="dropdown-cont-item"><a href="#">CSS</a></li>
                <li class="dropdown-cont-item"><a href="#">JavaScript</a></li>
                <li class="dropdown-cont-item"><a href="#">HTML</a></li>
                <li class="dropdown-cont-item"><a href="#">CSS</a></li>
                <li class="dropdown-cont-item"><a href="#">JavaScript</a></li>
              </ul>
            </div>
          </div>
          
        <div class="col-sm-4">
          <div class="Mydropdown">
            <div class="selector">
             
                <img src="{%static 'img/person-raised-hand.svg'%}">
                <div>
                  Dropdown
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-square" viewBox="0 0 16 16">
                  <path d="M3.626 6.832A.5.5 0 0 1 4 6h8a.5.5 0 0 1 .374.832l-4 4.5a.5.5 0 0 1-.748 0l-4-4.5z"/>
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                </svg>
              </div>
             
              <ul class="dropdown-content hide" id="dropdown-content_3">
                <li class="dropdown-cont-item"><a href="#">HTML</a></li>
                <li class="dropdown-cont-item"><a href="#">CSS</a></li>
                <li class="dropdown-cont-item"><a href="#">JavaScript</a></li>
                <li class="dropdown-cont-item"><a href="#">HTML</a></li>
                <li class="dropdown-cont-item"><a href="#">CSS</a></li>
                <li class="dropdown-cont-item"><a href="#">JavaScript</a></li>
              </ul>
            </div>
          </div>
          
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
      
    <div class="container-fluid bg-3 text-center">    
      <h3>Some of my Work</h3><br>
      <div class="row">
        <div class="col-sm-3">
          <p>Some text..</p>
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3"> 
          <p>Some text..</p>
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3"> 
          <p>Some text..</p>
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
          <p>Some text..</p>
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div><br>
  </div>
</div>
</div>

  </head>
 
</body>
{% include 'components/footer.html'%}

<script src="{% static 'js/index.js'%}">
  <script src="{% static 'js/register.js'%}"></script>
</script>
</html>
