{% load static %}
<link rel="stylesheet" href="{% static 'css/steps.css'%}">

<div class="steps-container">
  	<div class="progress-container">
    <div class="circle-content">
		<div class="circle active first">
      
    </div>
    Обращение
  </div>
  <div class="circle-content">
		<div class="circle active second">
    </div>
    Консультация и просчет
  </div>
  <div class="circle-content">
		<div class="circle active third">
      
    </div>
    Подтверждение
  </div>
  <div class="circle-content">
		<div class="circle active fourth">
      
    </div>
    Оформление документов
  </div>
  <div class="circle-content">
		<div class="circle active fifth">
      
    </div>
    Оплата
  </div>
  <div class="circle-content">
		<div class="circle active sixth">
      
    </div>
    Оказание услуги
  </div>
	</div>
	

</div>

<button class="btn" id="prev" disabled>Prev</button>
<button class="btn" id="next">Next</button>

<!-- SOCIAL PANEL HTML -->
<div class="social-panel-container">
	<div class="social-panel">
		<p> <i class="fa fa-heart"></i> 
			<a target="_blank" href="#"></a></p>
		<button class="close-btn"><i class="fas fa-times"></i></button>
		<h4>Get in touch on</h4>
		<ul>
			<li>
				<a href="https://www.patreon.com/florinpop17" target="_blank">
					<i class="fab fa-discord"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/florinpop1705" target="_blank">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://linkedin.com/in/florinpop17" target="_blank">
					<i class="fab fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="https://facebook.com/florinpop17" target="_blank">
					<i class="fab fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://instagram.com/florinpop17" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<button class="floating-btn">
	Get in Touch
</button>



<script src="{%static 'js/steps.js'%}"></script>